.Text-Bot-Nav {
    color: #1C7CB2;
    font-size: 18px;
}

.Text-AboutMe {
    color: #ffff;
    font-size: 18px;
}

.Border-AboutMe {
    border: 1px 0px solid hitam;
    border-radius: 10px;
    margin: 30px;
    width: 1444px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #0D6393 0%, transparent 90%) ;
}

.Text-Name{
    color: #ffff;
    font-size: 14px;
    padding: 20px 10px;
    text-align: center; 
}

@media (max-width: 768px) {
    .Text-Bot-Nav{
        font-size: 14px;
    }

    .Text-AboutMe{
        font-size: 14px;
    }

    .Border-AboutMe {
        width: auto;
        height: 75px;
        background-color: rgba(0, 0, 0, 0.4);
        background: linear-gradient(to bottom, #0D6393 0%, transparent 85%) ;
    }

    .Text-Name{
        font-size: 10px;
        padding: 10px 10px;
    }
}