.Background-Home {
  background-image: url('../assets/image/Background-Home.png');
  width: 100%;
  height: 800px;
  /* Tinggi gambar untuk tampilan desktop */

  /* Menetapkan posisi latar belakang ke tengah */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Media query untuk tampilan mobile */
  @media (max-width: 768px) {
    width: auto;
    height: 400px;
    /* Tinggi gambar untuk tampilan mobile */
    background-position: center top;
    /* Mengatur posisi latar belakang ke atas agar objek tetap terlihat di tengah */
  }
}

.DisplayCol {
  display: flex;
  justify-content: start;
  height: 250px;
  padding-left: 40px;
}

.IconNav1 {
  max-width: 70px;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  margin-left: 20px;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  /* border-radius: 15px; */
  /* animation: borderIcon 2s infinite;
  animation-fill-mode: forwards; */
}

/* @keyframes borderIcon {
  75% {
    border-color: #1C7CB2;
    border-radius: 15px;
  }
} */


@media (max-width: 768px) {
  .IconNav1 {
    width: 40px !important;
    height: 40px !important;
  }

  .DisplayCol {
    justify-content: start;
    padding: 0 20px;
    height: 100px;
  }
}

@keyframes moveBorder {
  75% {
    border-color: #1C7CB2;
    border-radius: 15px;
  }
}

.Border-Navbar {
  display: flex;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 650px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 5px;
  margin-right: 40px;
  margin-top: 28px;
  animation: moveBorder 2s infinite;
  animation-fill-mode: forwards;
}

/* .Border-Navbar:hover {
  border: 1px solid #1C7CB2;
  background-color: rgba(28, 124, 178, 0.2)
} */



.Text-Navbar {
  color: #ffff;
  font-size: 16px;
  margin: 0px 25px !important;
}


@media (max-width: 768px) {
  .Border-Navbar {
    width: 100%;
    /* Lebar 100% untuk responsif mobile */
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    border-radius: 5px;
    /* justify-content: flex-start; */
  }

  .Text-Navbar {
    font-size: 10px;
    margin: 7px 5px;
  }
}


.IconNavbar {
  width: 40px !important;
  height: 40px !important;
  margin: 3px 15px;
}

@media (max-width: 768px) {
  .IconNavbar {
    width: auto !important;
    height: 25px !important;
    margin: 0px 5px;
  }
}

.Text-Portofolio {
  color: #ffff;
  font-size: 40px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .Text-Portofolio {
    font-size: 20px;
    margin: 50px 0;
  }
}